body{
    background-color: #1a1a1a;
}
header{
    display: flex;
    justify-content: center;
    
}
header img{
    align-self: center;
}

header img:hover{
    width: 20%;
    height: 20%;
}
main{
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
}



