body{
    background-color: #1a1a1a;
}
header{
    display: flex;
    justify-content: center;
    
}
header img{
    align-self: center;
}

header img:hover{
    width: 240px;
    height: 240px;
}
main{
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
}

.section-title{
    color: #f9f9f9;
    font-family: Sue Ellen Francisco;
    font-size: 3rem;
    text-align: center;
}



